# Music Sales across Decades

- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv">Most sold LPs</a> in 1967.
- <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv">Most streamed albums</a> in 2023.

Which albums stood out (AS IN THE BIGGEST)in terms of sales?

In [1]:
import pandas as pd

from scipy.stats import zscore

In [2]:
lps = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/1967_hits.csv")
lps

,artist,album,sales,year
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967
1,THE DOORS,THE DOORS,20000000,1967
2,PATSY CLINE,GREATEST HITS,10000000,1967
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967
...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967

In [3]:
lps["lp_sales_zscore"] = zscore(lps["sales"])
lps

#round(lps.groupby("sales")["lp_sales_zscore"].agg([max]),0)

,artist,album,sales,year,lp_sales_zscore
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,7.897404
1,THE DOORS,THE DOORS,20000000,1967,4.800542
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.219824
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.453918
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.323024
...,...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967,-0.355543
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967,-0.356616
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967,-0.359563
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967,-0.359723
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967,-0.360622

In [4]:
lps_sales = round(lps.sort_values(by = ["sales"], ascending = False),0)
lps_sales

,artist,album,sales,year,lp_sales_zscore
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000,1967,8.0
1,THE DOORS,THE DOORS,20000000,1967,5.0
2,PATSY CLINE,GREATEST HITS,10000000,1967,2.0
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199,1967,1.0
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000,1967,1.0
...,...,...,...,...,...
98,THE VENTURES,POPS IN JAPAN,20740,1967,-0.0
99,FRANÇOISE HARDY,MA JEUNESSE FOUT LE CAMP,16580,1967,-0.0
100,PAUL MAURIAT,WORLD TOP HITS,5160,1967,-0.0
101,LEIKHÓPURINN DÝRIN Í HÁLSASKÓGI,DÝRIN Í HÁLSASKÓGI,4543,1967,-0.0
102,SLY & THE FAMILY STONE,A WHOLE NEW THING,1058,1967,-0.0

In [5]:
lps_min = lps_sales["lp_sales_zscore"].agg(min)
lps_min

-0.0

In [6]:
lps_max = lps_sales["lp_sales_zscore"].agg(max)
lps_max

#lps_zscore = lps["lp_sales_zscore"].max()
#lps_zscore

#lps.value_counts("artist").to_frame("lp_sales_zscore").head(10)

8.0

In [7]:
#normalize (number-min)/(max-min)

#lps_norm = ("lp_sales_zscore" - "lps_min")/ ("lps_max" - "lps_min")
#lps_norm

In [8]:
#lps_sales[["artist", "album"]]().head(10)

In [9]:
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/most-streamed-2023.csv")
dfs

                                album  streams_2023
0          Manana Sera Bonito Karol G    5130293275
1   One Thing At A Time Morgan Wallen    4380347931
2                  Genesis Peso Pluma    3936960850
3                        Drive Tiesto    3876226367
4                       Meduza Meduza    3383108898
..                                ...           ...
95            Cracker Island Gorillaz     662551227
96                       Senaryo Adie     661023457
97             Dark Side Justine Skye     657963327
98                     Trustfall P!nk     654976412
99       Alone In A Crowd Oliver Tree     651784706

[100 rows x 2 columns]

In [10]:
dfs["stream_sales_zscore"] = zscore(dfs["streams_2023"])
dfs

                                album  streams_2023  stream_sales_zscore
0          Manana Sera Bonito Karol G    5130293275             3.962425
1   One Thing At A Time Morgan Wallen    4380347931             3.149327
2                  Genesis Peso Pluma    3936960850             2.668602
3                        Drive Tiesto    3876226367             2.602753
4                       Meduza Meduza    3383108898             2.068110
..                                ...           ...                  ...
95            Cracker Island Gorillaz     662551227            -0.881546
96                       Senaryo Adie     661023457            -0.883202
97             Dark Side Justine Skye     657963327            -0.886520
98                     Trustfall P!nk     654976412            -0.889759
99       Alone In A Crowd Oliver Tree     651784706            -0.893219

[100 rows x 3 columns]

In [11]:
dfs_sales = round(dfs.sort_values(by = ["stream_sales_zscore"], ascending = False),0)
dfs_sales

                                album  streams_2023  stream_sales_zscore
0          Manana Sera Bonito Karol G    5130293275                  4.0
1   One Thing At A Time Morgan Wallen    4380347931                  3.0
2                  Genesis Peso Pluma    3936960850                  3.0
3                        Drive Tiesto    3876226367                  3.0
4                       Meduza Meduza    3383108898                  2.0
..                                ...           ...                  ...
95            Cracker Island Gorillaz     662551227                 -1.0
96                       Senaryo Adie     661023457                 -1.0
97             Dark Side Justine Skye     657963327                 -1.0
98                     Trustfall P!nk     654976412                 -1.0
99       Alone In A Crowd Oliver Tree     651784706                 -1.0

[100 rows x 3 columns]

In [12]:
#preprocessing.normalize("stream_sales_zscore")
#dfs_sales.normalize(["stream_sales_zscore"])

In [13]:
lp_stream_sales = pd.concat([lps_sales, dfs_sales], ignore_index=True)
lp_stream_sales

,artist,album,sales,year,lp_sales_zscore,streams_2023,stream_sales_zscore
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000.0,1967.0,8.0,NaN,NaN
1,THE DOORS,THE DOORS,20000000.0,1967.0,5.0,NaN,NaN
2,PATSY CLINE,GREATEST HITS,10000000.0,1967.0,2.0,NaN,NaN
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199.0,1967.0,1.0,NaN,NaN
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000.0,1967.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...
198,NaN,Cracker Island Gorillaz,NaN,NaN,NaN,662551227.0,-1.0
199,NaN,Senaryo Adie,NaN,NaN,NaN,661023457.0,-1.0
200,NaN,Dark Side Justine Skye,NaN,NaN,NaN,657963327.0,-1.0
201,NaN,Trustfall P!nk,NaN,NaN,NaN,654976412.0,-1.0
202,NaN,Alone In A Crowd Oliver Tree,NaN,NaN,NaN,651784706.0,-1.0

In [14]:
lp_stream_sales['biggest'] =\
lp_stream_sales.apply(lambda x: 'LPS' if x['lp_sales_zscore'] > x['stream_sales_zscore'] else 'STREAM', axis=1)
lp_stream_sales.sample(20)

,artist,album,sales,year,lp_sales_zscore,streams_2023,stream_sales_zscore,biggest
195,NaN,.mp3 Emilia,NaN,NaN,NaN,6.816754e+08,-1.0,STREAM
68,CHARLEY PRIDE,THE COUNTRY WAY,500000.0,1967.0,-0.0,NaN,NaN,STREAM
89,HERNAN FIGUEROA REYES,EL UNICO,60000.0,1967.0,-0.0,NaN,NaN,STREAM
201,NaN,Trustfall P!nk,NaN,NaN,NaN,6.549764e+08,-1.0,STREAM
58,LOVIN' SPOONFUL,THE BEST OF THE LOVIN' SPOONFUL,500000.0,1967.0,-0.0,NaN,NaN,STREAM
65,BOBBIE GENTRY,ODE TO BILLY JOE,500000.0,1967.0,-0.0,NaN,NaN,STREAM
98,THE VENTURES,POPS IN JAPAN,20740.0,1967.0,-0.0,NaN,NaN,STREAM
61,ANDY WILLIAMS,BORN FREE,500000.0,1967.0,-0.0,NaN,NaN,STREAM
36,BURT BACHARACH,REACH OUT,504320.0,1967.0,-0.0,NaN,NaN,STREAM
24,SOUNDTRACK,CAMELOT,1000000.0,1967.0,-0.0,NaN,NaN,STREAM
132,NaN,Bebe Bebe Rexha,NaN,NaN,NaN,1.584913e+09,0.0,STREAM
113,NaN,Golden Jung Kook,NaN,NaN,NaN,2.999668e+09,2.0,STREAM
85,BARBARA,MA PLUS BELLE HISTOIRE D'AMOUR,100000.0,1967.0,-0.0,NaN,NaN,STREAM
154,NaN,Religiously. The Album. Bailey Zimmerman,NaN,NaN,NaN,1.087054e+09,-0.0,STREAM
13,THE DOORS,STRANGE DAYS,1694798.0,1967.0,0.0,NaN,NaN,STREAM
112,NaN,El Comienzo Grupo Frontera,NaN,NaN,NaN,3.054665e+09,2.0,STREAM
6,BARBRA STREISAND,A CHRISTMAS ALBUM,5035000.0,1967.0,1.0,NaN,NaN,STREAM
7,THE MONKEES,MORE OF THE MONKEES,5012400.0,1967.0,1.0,NaN,NaN,STREAM
168,NaN,My 21st Century Blues Raye,NaN,NaN,NaN,9.374404e+08,-1.0,STREAM
188,NaN,Il Coraggio Dei Bambini Geolier,NaN,NaN,NaN,7.167926e+08,-1.0,STREAM

In [15]:
lp_stream_sales['z-gap'] =\
lp_stream_sales.apply(lambda x: abs(x['lp_sales_zscore'] - x['stream_sales_zscore']), axis=1)
lp_stream_sales

,artist,album,sales,year,lp_sales_zscore,streams_2023,stream_sales_zscore,biggest,z-gap
0,THE BEATLES,SGT. PEPPER'S LONELY HEARTS CLUB BAND,32000000.0,1967.0,8.0,NaN,NaN,STREAM,NaN
1,THE DOORS,THE DOORS,20000000.0,1967.0,5.0,NaN,NaN,STREAM,NaN
2,PATSY CLINE,GREATEST HITS,10000000.0,1967.0,2.0,NaN,NaN,STREAM,NaN
3,THE BEATLES,MAGICAL MYSTERY TOUR,7032199.0,1967.0,1.0,NaN,NaN,STREAM,NaN
4,BOB DYLAN,BOB DYLAN'S GREATEST HITS,6525000.0,1967.0,1.0,NaN,NaN,STREAM,NaN
...,...,...,...,...,...,...,...,...,...
198,NaN,Cracker Island Gorillaz,NaN,NaN,NaN,662551227.0,-1.0,STREAM,NaN
199,NaN,Senaryo Adie,NaN,NaN,NaN,661023457.0,-1.0,STREAM,NaN
200,NaN,Dark Side Justine Skye,NaN,NaN,NaN,657963327.0,-1.0,STREAM,NaN
201,NaN,Trustfall P!nk,NaN,NaN,NaN,654976412.0,-1.0,STREAM,NaN
202,NaN,Alone In A Crowd Oliver Tree,NaN,NaN,NaN,651784706.0,-1.0,STREAM,NaN

In [17]:
lp_stream_sales = lp_stream_sales.pivot(columns = "lp_sales_zscore",
        index = "album",
        values ="lp_sales_zscore")
lp_stream_sales

lp_sales_zscore                       NaN  0.0  1.0  2.0  5.0  8.0
album
.mp3 Emilia                           NaN  NaN  NaN  NaN  NaN  NaN
1989 (Taylor's Version) Taylor Swift  NaN  NaN  NaN  NaN  NaN  NaN
2000 Manuel Turizo                    NaN  NaN  NaN  NaN  NaN  NaN
3men2 Kbrn Eladio Carrion             NaN  NaN  NaN  NaN  NaN  NaN
A CHRISTMAS ALBUM                     NaN  NaN  1.0  NaN  NaN  NaN
...                                   ...  ...  ...  ...  ...  ...
VOLUME 1                              NaN -0.0  NaN  NaN  NaN  NaN
WELCOME TO MY WORLD                   NaN -0.0  NaN  NaN  NaN  NaN
WILDFLOWERS                           NaN -0.0  NaN  NaN  NaN  NaN
WORLD TOP HITS                        NaN -0.0  NaN  NaN  NaN  NaN
Zach Bryan Zach Bryan                 NaN  NaN  NaN  NaN  NaN  NaN

[202 rows x 6 columns]

In [18]:
#lp_stream_sales.query("album").sort_values(by = "album")
#lps_str = lp_stream_sales.sort_values(by= "artist", ascending = False)
#lps_str

### Notes:

## I tried to take lps and streams find the zscore, normalize the zscore and then combine them.

# One, I had an issue combining the two zscore columns.

Second, I had an issue normalizing. I found a function online "normalize()". I attemped to import the funtion but it wouldn't work. I tried to construct the formula manually but that didn't work as well. 

#normalize (number-min)/(max-min)

#lps_norm = ("lp_sales_zscore" - "lps_min")/ ("lps_max" - "lps_min")

I also wanted to pull all names that were in both lists to compare them.